<div class="container p-4">
  <div class="alert alert-success" role="alert" [hidden]="!adicionado">
    Funcionário <b>{{ nome }}</b> cadastrado com sucesso!
  </div>

  <div class="form-group mb-4">
    <label for="form-example">Nome</label>
    <input
      type="text"
      class="form-control"
      id="form-example"
      placeholder="Digite aqui o nome"
      [(ngModel)]="nome"
      (focus)="adicionado = false"
    >
  </div>

  <button
    class="btn btn-primary"
    (click)="adicionar()"
    [disabled]="nome.length == 0"
  >
    Adicionar
  </button>
  <div class="row" style="margin-top: 20px;">
    <!---->
    <div class="col-2" *ngFor="let func of funcionarios">
      <div class="card">
        <img src="https://randomuser.me/api/portraits/men/{{func.id}}.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          {{func.nome}}
        </div>
      </div>
    </div>
  </div>

</div>
